@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Playfair+Display&display=swap');

*{
    background-color: rgb(81, 99, 153);
    /* border: 1px solid red; */
    margin: 1px;
    padding: 1px;
}

body{ 
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #041B2F;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    color: #041B2F;
}

h2{
    font-family: 'Cinzel', serif;
    font-family: Cinzel;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #041B2F;
}


img {
    width: 180px;
}

#ghost-table{
   display: flex;
   flex-direction: column;
}

.ghost-div{
    display: flex;
    justify-content: space-between;
    
}

#ghost-visions-organizer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#ghost-hand{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

#ghost-hand > img {
    width: 70px;
    height: auto;
    
}

#ghost-hand img:hover{
    width: 140px;
    height: auto;
}

.turns{
    height: 25px;
}

#red-mystery {
    display: flex;
    flex-direction: row;
}

#red-mystery > .player-card {
    width: auto;
    height: 120px;
}

#table-overview{
    display: flex;
    flex-direction: column;
}

#table-overview > div > img {
    width:100px;
    height: auto;
}

#table-overview > div > img:hover {
    width:320px;
    height: auto;
}

#table-overview > div > .weapon-card {
    width:auto;
    height: 80px;
}

#table-overview > div > .weapon-card:hover {
    width:auto;
    height: 240px;
}

#suspect-table{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

#places-table{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

#weapons-table{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

span{
    width: 80px;
}

.suspect,
.place {
    height: 120px;
    width: auto;  
}

.weapon{
    height: 140px;
    width: auto;
}

#p-hand{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

#p-hand > img {
    width: 70px;
    height: auto;
}

#p-hand img:hover{
    width: 140px;
    height: auto;
}

.active {
    border: 2px solid black;
}

#suspect{
    display: flex;
    flex-wrap: wrap;
}

.suspect-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#places{
    display: flex;
    flex-wrap: wrap;
}

.place-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weapons{
    display: flex;
    flex-wrap: wrap;
}

.weapon-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon-card{
    height: 140px;
    width: auto;
}

.choose-btn {
    width: 60px;
    height: 1.5rem;
    text-align: center;
}

#transition{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40vh;
}

.hidden{
    display: none !important;
}