*{
    background-color: rgb(81, 99, 153);
    /* border: 2px solid red; */
    margin: 0px;
    padding: 1px;
}

img {
    width: 180px;
}

#ghost-table{
    display: flex;
    justify-content: space-between;
    height: 200px;
}

#ghost-hand > img {
    width: 70px;
    height: auto;
}

#red-mystery {
    display: flex;
    flex-direction: row;
    /* width: 30vw; */
    /* float: right; */
}

.suspect,
.place {
    height: 120px;
    width: auto;  
}

.weapon{
    height: 140px;
    width: auto;
}

#p-hand > img {
    width: 70px;
    height: auto;
}

.active {
    border: 3px solid black;
}

#suspect{
    display: flex;
    flex-wrap: wrap;
}

.suspect-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#places{
    display: flex;
    flex-wrap: wrap;
}

.place-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weapons{
    display: flex;
    flex-wrap: wrap;
}

.weapon-div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon-card{
    height: 140px;
    width: auto;
}

.choose-btn {
    width: 60px;
    height: 1rem;
    text-align: center;
}

.hidden{
    display: none;
}